<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/libs/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/libs/trumbowyg/dist/ui/trumbowyg.css">
    <link rel="stylesheet" href="~/libs/minicolors/jquery.minicolors.css">
    <link rel="stylesheet" href="~/libs/jquery-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css">
    <link rel="stylesheet" href="~/libs/postItall/dist/jquery.postitall.css">
</head>
<body>    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>  
    
    @RenderSection("Scripts", required: false)
</body>
</html>
